.playground {
    white-space:no-wrap;
}

.intro{
    line-height:2em;
    padding: 2px 20px;
    font-size:12px;
    background: #f4f4f4;
    border-bottom:1px solid #ccc;
}

.col {
    font-size: 10px;
    display: inline-block;
    vertical-align: top;
    height: 1000px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-width: 0 1px 0 1px;
}

pre {
    display: inline-block;
}
