.playground {
    white-space: nowrap;
    border: 1px solid #ccc;
    border-width: 1px 0 1px 0;
}

.intro{
    line-height: 2em;
    padding: 2px 20px;
    font-size: 12px;
    background: #f4f4f4;
    
}

.col {
    font-size: 10px;
    display: inline-block;
    vertical-align: top;
    height: 1000px;
    padding: 0 10px;
    border-left: 1px solid #ccc;
    overflow: auto;
}
.col:first-child{
    borfer-left: none;
}

pre {
    display: inline-block;
}
