#playground {
    display: inline-block;
    vertical-align: top;
}

.intro{
    line-height:2em;
    padding: 2px 20px;
    border-bottom:1px solid #000;
}

.col {
    font-size: 10px;
    display: inline-block;
    vertical-align: top;
    height: 1000px;
    padding: 0 10px;
    border-right: 1px solid #666;
}

pre {
    display: inline-block;
}
